Repository Ludy87/xplora_watch, pull requests merged in 2022-09, with the labels that each got.

#54 🐛 Fix error message Notify
  custom_components/xplora_watch/manifest.json
  custom_components/xplora_watch/notify.py
Labels: Bug: Fix!

#56 🌱 add state (not) home Fix #55
  custom_components/xplora_watch/device_tracker.py
  custom_components/xplora_watch/manifest.json
Labels: feature request, Version 2

#57 🌱 add Message Service
  .github/workflows/dynamic_template.yml
  .github/workflows/lint.yaml
  .github/workflows/release.yml
  README.md
  custom_components/xplora_watch/__init__.py
  custom_components/xplora_watch/coordinator.py
  custom_components/xplora_watch/helper.py
  custom_components/xplora_watch/manifest.json
  custom_components/xplora_watch/services.py
  custom_components/xplora_watch/services.yaml
  images/message_service.png
Labels: feature request, Version 2

#59 Type: Lat and lng - str to float
  custom_components/xplora_watch/__init__.py
  custom_components/xplora_watch/coordinator.py
  custom_components/xplora_watch/device_tracker.py
  custom_components/xplora_watch/manifest.json
  hacs.json
Labels: Bug: Fix!

#62 IOError: Making helpers more resilient
  custom_components/xplora_watch/helper.py
Labels: Bug: Fix!

#63 Fix native person integration
  custom_components/xplora_watch/device_tracker.py
Labels: Version 2

#65 Fix status
  custom_components/xplora_watch/coordinator.py
  custom_components/xplora_watch/device_tracker.py
  custom_components/xplora_watch/manifest.json
  hacs.json
Labels: Version 2

#69 V2.0.6
  custom_components/xplora_watch/coordinator.py
  custom_components/xplora_watch/device_tracker.py
  custom_components/xplora_watch/entity.py
  custom_components/xplora_watch/manifest.json
Labels: Version 2, PR: released

#73 V2.0.7
  README.md
  custom_components/xplora_watch/binary_sensor.py
  custom_components/xplora_watch/config_flow.py
  custom_components/xplora_watch/const.py
  custom_components/xplora_watch/device_tracker.py
  custom_components/xplora_watch/manifest.json
  custom_components/xplora_watch/sensor.py
  custom_components/xplora_watch/services.py
  custom_components/xplora_watch/strings.json
  custom_components/xplora_watch/switch.py
  custom_components/xplora_watch/translations/de.json
  custom_components/xplora_watch/translations/en.json
  hacs.json
  images/friendly_name.png
  info.md
Labels: feature request, Version 2, in progress
