Repository Ludy87/xplora_watch, pull requests merged in 2022-04, with the labels that each got.

#23 📝 Update Documentation
  README.md
  info.md
Labels: documentation

#26 device_tracker should return latitude and longitude attrs as float, not str
  custom_components/xplora_watch/device_tracker.py
Labels: wait, performance

#25 🎨 rename variable - 0.0.29
  CHANGELOG.md
  custom_components/xplora_watch/__init__.py
  custom_components/xplora_watch/binary_sensor.py
  custom_components/xplora_watch/device_tracker.py
  custom_components/xplora_watch/geocoder.py
  custom_components/xplora_watch/manifest.json
  custom_components/xplora_watch/notify.py
  custom_components/xplora_watch/sensor.py
  custom_components/xplora_watch/switch.py
Labels: performance
